@use "sass:math";

@mixin link-transition {
    color: $clr-txt;
    text-decoration: none;
    transition: color $link-hover-transition ease-in-out;
}

@mixin link-transition-hover {
    color: $clr-active;
}

@mixin home-link-transition {
    transform: translateX(0);
    transform-origin: left;
    transition: transform $link-hover-transition ease-in-out;
}

@mixin home-link-transition-hover {
    transform: translateX(15%);
}

@mixin archive-link-transition {
    transform: translateX(0);
    transform-origin: left;
    color: $clr-txt;
    text-decoration: none;
    transition: transform $link-hover-transition ease-in-out;
}

@mixin archive-link-transition-hover {
    color: $clr-txt;
    transform: translateX(15%);
}

@mixin home-img-show-transition {
    opacity: 0;
    transform: translateX(0);
    transform-origin: right;
    transition: all $link-hover-transition ease-in-out;
}

@mixin home-img-show-transition-hover {
    opacity: 1;
    transform: translateX(-25%);
}

@mixin img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin archive-img-transition {
    transform: scale(1);
    transition: transform $slow-transition ease-in-out;
}

@mixin archive-img-transition-hover {
    transform: scale(1.1);
}

@mixin contact-link-transition {
    transform: translateX(0);
    transform-origin: left;
    transition: transform $link-hover-transition ease-in-out;
}

@mixin contact-link-transition-hover {
    transform: translateX(1.5%);
}

@mixin arrow($size: 'med') {
    background-color: $clr-txt;
    color: $clr-txt-dark;
    border-radius: 50%;
    transition: all $link-hover-transition ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    @if ($size == 'small') {
        width: $cta-small-size;
        height: $cta-small-size;
        font-size: $font-reg;        
    } @else {
        width: $cta-med-size;
        height: $cta-med-size;
        font-size: $font-big;
    }
}

@mixin rotated-text($num-letters: 100, $angle-span: 180deg, $angle-offset: 0deg) {
    $angle-per-char: math.div($angle-span, $num-letters);
    @for $i from 1 through $num-letters {
        .char#{$i} {
            transform: rotate($angle-offset + $angle-per-char * $i);
        }
    }
}

@mixin rotate-infinite($duration: 5s) {
    animation: rotate $duration linear infinite;
}

@mixin animation-up {
    animation: anim-up ease-out $anim-up both;
}

@mixin footer-anim($keyframes: getin-anim) {
    animation: $keyframes ease-out $anim-up both;
}