$clr-bg: #6F6D5F;
$clr-txt: #282828;
$clr-txt-dark: #ECECEC;
$clr-active: #A19E91;
$clr-elements: #FD5B20;

$font-small: 1rem;
$font-reg: 1.2rem;
$font-big: 3.4rem;
$font-title: 6.5vw;
$font-title-archive: 14.3vw;
$font-huge: 20vw;

$link-hover-transition: 250ms;
$slow-transition: 500ms;

$contact-cta-size: 150px;
$chevron-cta-size: 50px;

$archive-grid-padding: 8rem;

$cta-small-size: 50px;
$cta-med-size: 150px;

$anim-up: 800ms;
$anim-up-item-delay: 150ms;

$num-skills: 5;

$page-transition: 800ms;