$clr-bg: #6B7379;
$clr-txt: #fff;
$clr-txt-dark: #242424;
$clr-active: #9ca3a8;
$clr-elements: #dbff00;

$font-small: 1rem;
$font-reg: 1.2rem;
$font-big: 3.4rem;
$font-title: 5rem;
$font-huge: 19rem;

$link-hover-transition: 250ms;
$slow-transition: 500ms;

$contact-cta-size: 150px;

$archive-grid-padding: 8rem;

$cta-small-size: 50px;
$cta-med-size: 150px;