.chevron-cta {
    color: $clr-txt;
    text-decoration: none;
    font-size: $font-big;
    width: max-content;
    height: max-content;
    &:hover {
        color: $clr-txt;
        cursor: pointer;
    }
}