.next-project-cursor {
    font-size: $font-small;
    position: absolute;
    right: 0;
    bottom: 30px;
    width: auto;
    height: auto;
    &__elt {
        position: relative;
        width: 100px;
        height: 100px;
        & span {
            height: 50px;
            position: absolute;
            width: 20px;
            left: 50%;
            top: 0;
            transform-origin: bottom center;
        }
        @include rotated-text(13, 360deg, 0deg);
        @include rotate-infinite(10s);
    }
}