.single-project-nav {
    position: fixed;
    z-index: 999;
    list-style: none;
    width: 30%;
    top: 150px;
    transform: translateX(-110%);
    transform-origin: left;
    transition: transform $link-hover-transition ease-out;
    @include mobile {
        transform: translateX(-100%);
        width: 100%;
    }
    @include xl-screen {
        transform: translateX(-200%);
    }
    &.show {
        transform: translateX(0);
        @include xl-screen {
            transform: translateX(-50%);
        }
    }
    &__category {
        &__link-wrapper {
            transform: translateX(0);
            transform-origin: left;
            transition: transform $link-hover-transition ease-in-out;
            &:hover {
                transform: translateX(25%);
            }
        }
        &__link {
            text-decoration: none;
            color: $clr-txt;
            background-color: $clr-elements;
            font-size: $font-big;
            @include mobile {
                font-size: $font-big-mobile;
            }
            &:hover {
                color: $clr-txt;
            }
            &:active {
                color: $clr-txt;
            }
        }
    }
}