body {
    box-sizing: border-box;
    background-color: $clr-bg;
    color: $clr-txt;
}

.main-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    overflow-x: hidden;
}