.about {
    &__hero {
        border-bottom: solid 3px $clr-txt-dark;
        &__title {
            font-size: 22.2vw;
            z-index: 1;
            @include mobile {
                font-size: 21.9vw;
            }
        }
        &__thumbnail {
            height: 800px;
            position: relative;
            @include mobile-only {
                height: 400px;
            }
            @include tablet-only {
                height: 600px;
            }
            &__wrapper {
                width: 100%;
                height: 130%;
                transform: translateY(-15%);
                z-index: -1;
                @include mobile-only {
                    transform: translateY(-45px);
                }
                @include tablet-only {
                    transform: translateY(-80px);
                }
                &__img {
                    @include img-cover;
                }    
            }
            & > .scroll-down {
                @include mobile-only {
                    top: 100px;
                }
                @include tablet-only {
                    top: 200px;
                }
            }
        }
        &__name {
            font-size: 22.5vw;
            z-index: 1;
        }
    }
    &__tagline {
        border-bottom: solid 3px $clr-txt-dark;
        &__content {
            font-size: $font-title;
            line-height: 1;
            @include mobile {
                line-height: 1.2;
            }
        }
    }
    &__description {
        border-bottom: solid 3px $clr-txt-dark;
        &__title {
            font-size: $font-big;
            line-height: 1;
            @include mobile {
                font-size: $font-big-mobile*.6;
                line-height: 1.2;
            }
        }
        &__text {
            font-size: $font-reg;
            @include mobile {
                line-height: 1.2;
            }
        }
    }
    &__services {
        border-bottom: solid 3px $clr-txt-dark;
        &__title {
            font-size: $font-big;
        }
        &__service {
            &__number {
                font-size: $font-reg;
            }
            &__name {
                font-size: $font-reg;
            }
            &__description {
                font-size: $font-small;
            }
        }
    }
    &__cv {
        &__title {
            font-size: $font-big;
        }
        &__list {
            list-style: none;
            border-top: solid 3px $clr-txt-dark;
            &__item {
                font-size: $font-reg;
                @include mobile {
                    font-size: $font-small;
                    word-break: break-word;
                }
                &:not(.last) {
                    border-bottom: solid 1px $clr-txt-dark;
                }
            }
        }
    }
}