.archive {
    &__hero {
        border-bottom: solid 3px $clr-txt;
        &__title {
            height: 300px;
            & > h1 {
                font-size: $font-title-archive;
            }
        }
        &__links {
            &__link {
                @include link-transition;
                font-size: $font-reg;
                width: max-content;
                &:hover {
                    @include link-transition-hover;
                }
                &:active {
                    color: $clr-active;
                }
            }
        }
    }
    &__grid {
        padding-top: $archive-grid-padding;
        padding-bottom: $archive-grid-padding;
        &__project {
            height: 800px;
            &__thumbnail {
                order: 2;
                height: 100%;
                &__container {
                    height: 110%;
                    transform: translateY(-5%);
                    overflow: hidden;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: $clr-bg;
                        opacity: 0;
                        transition: opacity $link-hover-transition ease-in-out;
                    }
                    &:hover {
                        &::after {
                            opacity: .2;
                        }
                        & > img {
                            @include archive-img-transition-hover;
                        }
                    }    
                }
                &.odd {
                    order: 1;
                }
                &__img {
                    @include img-cover;
                    @include archive-img-transition;
                }
            }
            &__info {
                order: 1;
                &.odd {
                    order: 2;
                }
                &__client {
                    font-size: $font-reg;
                }
                &__title {
                    font-size: $font-big;
                }
                &__link {
                    font-size: $font-small;
                    width: max-content;
                    @include archive-link-transition;
                    &:hover {
                        @include archive-link-transition-hover;
                        & > .round-cta--small {
                            background-color: $clr-elements;
                        }
                    }
                    &:active {
                        color: $clr-txt;
                    }
                }
            }
        }
    }
}