.archive {
    &__hero {
        border-bottom: solid 3px $clr-bg;
        &__title {
            height: 300px;
            & > h1 {
                font-size: $font-title-archive;
                @include mobile {
                    font-size: $font-title-archive-mobile;
                }
            }
        }
        &__links {
            &__link {
                @include link-transition;
                font-size: $font-reg;
                width: max-content;
                color: $clr-bg;
                @include mobile {
                    font-size: $font-small;
                }
                &:hover {
                    color: $clr-active;
                }
                &:active {
                    color: $clr-active;
                }
            }
        }
    }
    &__grid {
        padding-top: $archive-grid-padding;
        padding-bottom: $archive-grid-padding;
        @include mobile {
            padding-top: $archive-grid-padding-mobile;
            padding-bottom: 0;
        }
        &__project {
            height: 600px;
            @include mobile {
                height: auto;
            }
            &__thumbnail {
                order: 2;
                height: 100%;
                @include mobile {
                    order: 1;
                    height: 400px;
                }
                &__container {
                    height: 110%;
                    transform: translateY(-5%);
                    overflow: hidden;
                    position: relative;
                    @include mobile {
                        height: 100%;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: $clr-bg;
                        opacity: 0;
                        transition: opacity $link-hover-transition ease-in-out;
                    }
                    &:hover {
                        &::after {
                            opacity: .2;
                        }
                        & > img {
                            @include archive-img-transition-hover;
                        }
                    }    
                }
                &.odd {
                    order: 1;
                }
                &__img {
                    @include img-cover;
                    @include archive-img-transition;
                }
            }
            &__info {
                order: 1;
                @include mobile {
                    order: 2;
                    transform: translateY(-37px);
                }
                &.odd {
                    order: 2;
                }
                &__client {
                    font-size: $font-reg;
                }
                &__title {
                    font-size: $font-big;
                    @include mobile {
                        font-size: $font-big-mobile;
                    }
                }
                &__link {
                    font-size: $font-small;
                    width: max-content;
                    @include archive-link-transition;
                    color: $clr-bg;
                    & > .arrow {
                        background-color: $clr-bg;
                    }
                    &:hover {
                        @include archive-link-transition-hover;
                        color: $clr-bg;
                        & > .arrow--small {
                            background-color: $clr-elements;
                        }
                    }
                    &:active {
                        color: $clr-bg;
                    }
                }
            }
        }
    }
}