.archive {
    &__hero {
        border-bottom: solid 3px $clr-txt;
        &__title {
            height: 300px;
            & > h1 {
                font-size: $font-title;
            }
        }
        &__links {
            &__link {
                @include link-transition;
                font-size: $font-reg;
                width: max-content;
                &:hover {
                    @include link-transition-hover;
                }
            }
        }
    }
    &__grid {
        padding-top: $archive-grid-padding;
        padding-bottom: $archive-grid-padding;
        &__project {
            height: 800px;
            &__thumbnail {
                height: 110%;
                transform: translateY(-5%);
                order: 2;
                &.odd {
                    order: 1;
                }
                &__img {
                    @include img-cover;
                }
            }
            &__info {
                order: 1;
                &.odd {
                    order: 2;
                }
                &__client {
                    font-size: $font-reg;
                }
                &__title {
                    font-size: $font-big;
                }
                &__link {
                    font-size: $font-small;
                    @include archive-link-transition;
                    &:hover {
                        @include archive-link-transition-hover;
                    }
                }
            }
        }
    }
}