.contact {
    &__title {
        border-bottom: solid 3px $clr-txt;
        @include animation-up;
        &__text {
            font-size: 25vw;
        }
    }
    &__taglines {
        font-size: $font-reg;
        @include animation-up;
        animation-delay: $anim-up-item-delay;
    }
    &__option {
        border-bottom: solid 3px $clr-txt;
        &__link {
            font-size: $font-huge*.75;
            color: $clr-txt;
            text-decoration: none;
            @include contact-link-transition;
            & > .arrow {
                background-color: $clr-txt-dark;
            }
            &:hover {
                color: $clr-txt;
                @include contact-link-transition-hover;
                & > .arrow {
                    background-color: $clr-txt;
                }
            }
            &:active {
                color: $clr-txt;
            }
        }
    }
    &__social {
        border-bottom: solid 3px $clr-txt;
        &__title {
            font-size: $font-reg;
        }
        &__list {
            list-style: none;
        }
    }
}