.footer {
    &__contact {
        border-top: solid 3px $clr-txt;
        color: $clr-txt;
        text-decoration: none;
        position: relative;
        &:hover {
            color: $clr-txt;
        }
        &__line {
            font-size: $font-huge;
            line-height: .8;
            width: max-content;
            @include link-transition;
            color: $clr-txt;
            &:hover {
                color: $clr-active;
            }
            &:active {
                color: $clr-active;
            }
        }
        &__cta {
            width: $contact-cta-size;
            height: $contact-cta-size;
            border-radius: 50%;
            position: absolute;
            right: $contact-cta-size;
            bottom: $contact-cta-size + 100px;
            background-color: $clr-elements;
            color: $clr-txt;
            font-size: $font-reg;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all $link-hover-transition ease-in-out;
            @include rotate-infinite;
            @include mobile {
                width: $contact-cta-size-mobile;
                height: $contact-cta-size-mobile;
                right: 0;
                bottom: 60%;
                font-size: $font-small;
            }
            &:hover {
                background-color: $clr-txt-dark;
            }
            &:active {
                color: $clr-txt;
            }
        }
    }
    &__social {
        font-size: $font-small;
        border-top: solid 3px $clr-txt;
        @include mobile {
            text-align: center;
        }
        &__socials {
            &__list {
                list-style: none;
                display: flex;
                @include mobile {
                    justify-content: center;
                }
                &__item {
                    &__link {
                        color: $clr-txt;
                        text-decoration: none;
                        &:hover {
                            color: $clr-txt;
                        }
                        &:active {
                            color: $clr-txt;
                        }
                    }
                }
            }
        }
        &__email {
            &__link {
                color: $clr-txt;
                @include link-transition;
                &:hover {
                    color: $clr-active;
                }
            }
        }
    }
}

.footer {
    &.archive {
        & .footer {
            &__contact {
                border-top: solid 3px $clr-bg;
                color: $clr-bg;
                &:hover {
                    color: $clr-txt;
                }
                &__line {
                    color: $clr-bg;
                    &:hover {
                        color: $clr-active;
                    }
                    &:active {
                        color: $clr-active;
                    }        
                }   
            }
            &__social {
                border-top: solid 3px $clr-bg;
                &__socials {
                    &__list {
                        &__item {
                            &__link {
                                color: $clr-bg;
                                &:hover {
                                    color: $clr-bg;
                                }
                                &:active {
                                    color: $clr-bg;
                                }
                            }
                        }
                    }
                }
                &__email {
                    &__link {
                        color: $clr-bg;
                        &:hover {
                            color: $clr-active;
                        }
                    }
                }        
            }
        }
    }
    &.single-project {
        & .footer {
            &__contact {
                border-top: solid 3px $clr-txt-dark;
                color: $clr-txt-dark;
                &:hover {
                    color: $clr-elements;
                }
                &__line {
                    color: $clr-txt-dark;
                    &:hover {
                        color: $clr-elements;
                    }
                    &:active {
                        color: $clr-elements;
                    }        
                }   
            }
            &__social {
                border-top: solid 3px $clr-txt-dark;
                &__socials {
                    &__list {
                        &__item {
                            &__link {
                                color: $clr-txt-dark;
                                &:hover {
                                    color: $clr-txt-dark;
                                }
                                &:active {
                                    color: $clr-txt-dark;
                                }
                            }
                        }
                    }
                }
                &__email {
                    &__link {
                        color: $clr-txt-dark;
                        &:hover {
                            color: $clr-elements;
                        }
                    }
                }        
            }
        }
    }
    &.about {
        & .footer {
            &__contact {
                border-top: solid 3px $clr-txt-dark;
                color: $clr-txt-dark;
                &:hover {
                    color: $clr-active;
                }
                &__line {
                    color: $clr-txt-dark;
                    &:hover {
                        color: $clr-active;
                    }
                    &:active {
                        color: $clr-active;
                    }        
                }   
            }
            &__social {
                border-top: solid 3px $clr-txt-dark;
                &__socials {
                    &__list {
                        &__item {
                            &__link {
                                color: $clr-txt-dark;
                                &:hover {
                                    color: $clr-txt-dark;
                                }
                                &:active {
                                    color: $clr-txt-dark;
                                }
                            }
                        }
                    }
                }
                &__email {
                    &__link {
                        color: $clr-txt-dark;
                        &:hover {
                            color: $clr-active;
                        }
                    }
                }        
            }
        }
    }
}