.footer {
    &__contact {
        border-top: solid 3px $clr-txt;
        color: $clr-txt;
        text-decoration: none;
        position: relative;
        &:hover {
            color: $clr-txt;
        }
        &__line {
            font-size: $font-huge;
            line-height: .8;
            width: max-content;
            @include link-transition;
            &:hover {
                @include link-transition-hover;
            }
            &:active {
                color: $clr-active;
            }
        }
        &__cta {
            width: $contact-cta-size;
            height: $contact-cta-size;
            border-radius: 50%;
            position: absolute;
            right: $contact-cta-size;
            bottom: $contact-cta-size + 100px;
            background-color: $clr-elements;
            color: $clr-txt-dark;
            font-size: $font-reg;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all $link-hover-transition ease-in-out;
            @include rotate-infinite;
            &:hover {
                background-color: $clr-txt-dark;
                color: $clr-txt;
            }
            &:active {
                color: $clr-txt;
            }
        }
    }
    &__social {
        font-size: $font-small;
        border-top: solid 3px $clr-txt;
        &__socials {
            &__list {
                list-style: none;
                display: flex;
                &__item {
                    &__link {
                        color: $clr-txt;
                        text-decoration: none;
                        &:hover {
                            color: $clr-txt;
                        }
                        &:active {
                            color: $clr-txt;
                        }
                    }
                }
            }
        }
        &__email {
            &__link {
                @include link-transition;
                &:hover {
                    @include link-transition-hover;
                }
            }
        }
    }
}