.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    z-index: 999;
    @include mobile {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__brand {
        color: $clr-txt;
        &:hover {
            color: $clr-txt;
        }
    }
    &__link {
        font-size: $font-reg;
        color: $clr-txt;
        @include mobile {
            background-color: $clr-txt-dark;
            width: max-content;
        }
        &.active {
            color: $clr-active;
        }
        &:hover {
            color: $clr-active;
        }
        &:active {
            color: $clr-active;
        }
    }
}

header {
    &.archive {
        & .navbar {
            &__brand {
                color: $clr-bg;
                &:hover {
                    color: $clr-bg;
                }
            }
            &__link {
                color: $clr-bg;
                @include mobile {
                    background-color: $clr-bg;
                    color: $clr-txt-dark;
                }
                &.active {
                    color: $clr-active;
                }
                &:hover {
                    color: $clr-active;
                }
                &:active {
                    color: $clr-active;
                }        
            }
        }
    }
    &.single-project {
        & .navbar {
            &__brand {
                color: $clr-txt-dark;
                &:hover {
                    color: $clr-txt-dark;
                }
            }
            &__link {
                color: $clr-txt-dark;
                @include mobile {
                    color: $clr-txt;
                }
                &.active {
                    color: $clr-elements;
                }
                &:hover {
                    color: $clr-elements;
                }
                &:active {
                    color: $clr-elements;
                }        
            }
        }
    }
    &.contact {
        & .navbar {
            &__link {
                @include mobile {
                    background-color: $clr-txt;
                    color: $clr-elements;
                }
                &.active {
                    color: $clr-txt-dark;
                }
                &:hover {
                    color: $clr-txt-dark;
                }
                &:active {
                    color: $clr-txt-dark;
                }        
            }
        }
    }
    &.about {
        & .navbar {
            &__brand {
                color: $clr-txt-dark;
                &:hover {
                    color: $clr-txt-dark;
                }
            }
            &__link {
                color: $clr-txt-dark;
                @include mobile {
                    color: $clr-bg;
                }
                &.active {
                    color: $clr-active;
                }
                &:hover {
                    color: $clr-active;
                }
                &:active {
                    color: $clr-active;
                }        
            }
        }
    }
}