.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    z-index: 999;
    @include mobile {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__brand {
        color: $clr-txt;
        &:hover {
            color: $clr-txt;
        }
        &__logo {
            width: 100px;
            @include mobile-only {
                width: 75px;
            }
            &--banner {
                width: 250px;
            }
        }
    }
    &__link {
        font-size: $font-reg;
        color: $clr-txt;
        @include mobile {
            background-color: $clr-txt-dark;
            width: max-content;
        }
        &.active {
            color: $clr-active;
        }
        &:hover {
            color: $clr-active;
        }
        &:active {
            color: $clr-active;
        }
    }
    &__icon {
        display: flex;
        flex-direction: column;
        width: 40px;
        cursor: pointer;
        z-index: 999;
        &__bar {
            background: $clr-txt;
            min-height: 4px;
            &:nth-of-type(1) {
                margin: 0 0 4px;
            }
            &:nth-of-type(2) {
                margin: 4px 0;
            }
            &:nth-of-type(3) {
                margin: 4px 0 0;
            }
        }    
    }
}

header {
    &.archive {
        & .navbar {
            &__brand {
                color: $clr-bg;
                &:hover {
                    color: $clr-bg;
                }
            }
            &__link {
                color: $clr-bg;
                @include mobile {
                    background-color: $clr-bg;
                    color: $clr-txt-dark;
                }
                &.active {
                    color: $clr-active;
                }
                &:hover {
                    color: $clr-active;
                }
                &:active {
                    color: $clr-active;
                }        
            }
            &__icon {
                &__bar {
                    background-color: $clr-bg;
                }
            }
        }
    }
    &.single-project {
        & .navbar {
            &__brand {
                color: $clr-txt-dark;
                &:hover {
                    color: $clr-txt-dark;
                }
            }
            &__link {
                color: $clr-txt-dark;
                @include mobile {
                    color: $clr-txt;
                }
                &.active {
                    color: $clr-elements;
                }
                &:hover {
                    color: $clr-elements;
                }
                &:active {
                    color: $clr-elements;
                }        
            }
            &__icon {
                &__bar {
                    background-color: $clr-txt-dark;
                }
            }
        }
    }
    &.contact {
        & .navbar {
            &__link {
                @include mobile {
                    background-color: $clr-txt;
                    color: $clr-elements;
                }
                &.active {
                    color: $clr-txt-dark;
                }
                &:hover {
                    color: $clr-txt-dark;
                }
                &:active {
                    color: $clr-txt-dark;
                }        
            }
        }
    }
    &.about {
        & .navbar {
            &__brand {
                color: $clr-txt-dark;
                &:hover {
                    color: $clr-txt-dark;
                }
            }
            &__link {
                color: $clr-txt-dark;
                @include mobile {
                    color: $clr-bg;
                }
                &.active {
                    color: $clr-active;
                }
                &:hover {
                    color: $clr-active;
                }
                &:active {
                    color: $clr-active;
                }        
            }
            &__icon {
                &__bar {
                    background-color: $clr-txt-dark;
                }
            }
        }
    }
}