.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    z-index: 999;
    &__brand {
        color: $clr-txt;
        &:hover {
            color: $clr-txt;
        }
    }
    &__link {
        font-size: $font-reg;
        color: $clr-txt;
        &.active {
            color: $clr-active;
        }
        &:hover {
            color: $clr-active;
        }
    }
}