.home {
    list-style: none;
    position: relative;
    &__category {
        &:hover {
            & > .home__category__link {
                @include link-transition-hover;
                & > p {
                    @include home-link-transition-hover;
                }
            }
            & > .home__category__img {
                @include home-img-show-transition-hover;
            }
        }
        &__link {
            font-size: $font-title;
            line-height: 1;
            @include link-transition;
            &__content {
                @include home-link-transition;
            }
        }
        &__img {
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            height: 100%;
            @include home-img-show-transition;
            &__pic {
                @include img-cover;
            }
        }
    }
}