.project {
    &__hero {
        position: relative;
        border-bottom: solid 3px $clr-txt-dark;
        &__title {
            font-size: $font-title*1.2;
            z-index: 1;
            @include mobile {
                font-size: 11vw;
            }
        }
        &__thumbnail {
            aspect-ratio: 16 / 9;
            transform: translateY(-65px);
            z-index: -1;
            @include mobile-only {
                transform: translateY(-25px);
            }
            @include tablet-only {
                transform: translateY(-50px);
            }
            &__img {
                @include img-cover;
            }
        }
    }
    &__info {
        border-bottom: solid 3px $clr-txt-dark;
        &__client {
            font-size: $font-reg;
        }
        &__subtitle {
            font-size: $font-title;
            line-height: 1;
            @include mobile {
                line-height: 1.2;
            }
        }
    }
    &__details {
        border-bottom: solid 3px $clr-txt-dark;
        &__description {
            font-size: $font-big;
            line-height: 1;
            @include mobile {
                font-size: $font-big-mobile*.6;
                line-height: 1.2;
            }
        }
        &__list {
            border-top: solid 3px $clr-txt-dark;
            list-style: none;
            font-size: $font-reg;
            &__item {
                &:not(.last) {
                    border-bottom: solid 1px $clr-txt-dark;
                }
            }
        }
    }
    &__gallery {
        border-bottom: solid 3px $clr-txt-dark;
        &__image {
            aspect-ratio: 16 / 9;
            &__img {
                @include img-cover;
            }
        }
    }
    &__others {
        &__title {
            border-bottom: solid 3px $clr-txt-dark;
            &__content {
                font-size: $font-title;
            }
        }
        &__links {
            &__link {
                position: relative;
                font-size: $font-reg;
                @include link-transition;
                color: $clr-txt-dark;
                &:hover {
                    color: $clr-txt-dark;
                }
                &:active {
                    color: $clr-txt-dark;
                }
            }
        }
    }
}