.project {
    &__hero {
        position: relative;
        border-bottom: solid 3px $clr-txt;
        &__title {
            font-size: $font-title*1.2;
            z-index: 1;
        }
        &__thumbnail {
            height: 800px;
            transform: translateY(-65px);
            z-index: -1;
            &__img {
                @include img-cover;
            }
        }
    }
    &__info {
        border-bottom: solid 3px $clr-txt;
        &__client {
            font-size: $font-reg;
        }
        &__subtitle {
            font-size: $font-title;
            line-height: 1;
        }
    }
    &__details {
        border-bottom: solid 3px $clr-txt;
        &__description {
            font-size: $font-big;
            line-height: 1;
        }
        &__list {
            border-top: solid 3px $clr-txt;
            list-style: none;
            font-size: $font-reg;
            &__item {
                &:not(.last) {
                    border-bottom: solid 1px $clr-txt;
                }
            }
        }
    }
    &__gallery {
        border-bottom: solid 3px $clr-txt;
        &__image {
            height: 700px;
            &__img {
                @include img-cover;
            }
        }
    }
    &__others {
        &__title {
            border-bottom: solid 3px $clr-txt;
            &__content {
                font-size: $font-title;
            }
        }
        &__links {
            &__link {
                position: relative;
                font-size: $font-reg;
                @include link-transition;
                &:hover {
                    @include link-transition-hover;
                }
            }
        }
    }
}